<div class="row">
<div class="col-lg-6">
  <div class="input-group">
    <input id="locationSearchText" type="text" class="form-control input-lg" placeholder="Where ya at?">
      <span class="input-group-btn">
        <button class="btn btn-lg btn-default" type="button"><span class="glyphicon glyphicon-search"></span></button>
        <button class="btn btn-lg btn-default geolocate" type="button"><span class="glyphicon glyphicon-screenshot"></span></button>
      </span>
  </div>
</div>
</div>

<h3>Popular Events</h3>

